<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a *ngIf="user?.userRole === 'ROLE_ADMIN'" class="nav-link" (click)="getTreatments()">Get treatments<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Treatment <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!--OPERATION ARE HERE-->
<div class="container" id="main-container">

  <!--GET OPERATION-->
  <div  *ngIf="user?.userRole === 'ROLE_ADMIN'" class="row">
    <div *ngFor="let treatment of treatments | paginate: {itemsPerPage: 4, currentPage: page} "  class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{treatment?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Patient: {{treatment?.patient?.lastName}} {{treatment?.patient?.firstName}} {{treatment?.patient?.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Doctor: {{treatment?.doctor?.user.lastName}} {{treatment?.doctor?.user.firstName}} {{treatment?.doctor?.user.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Speciality: {{treatment?.doctor?.specialty?.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Service: {{treatment?.service.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Appointment: {{treatment?.appointment | date: 'short' }}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(treatment, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(treatment, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event" *ngIf="user?.userRole === 'ROLE_ADMIN'"></pagination-controls>

  <!--CREATE OPERATION-->
  <div class="modal fade" id="addTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="addTreatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTreatmentModalLabel">Add Treatment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!--REACTIVE FORM-->
          <form class="form-singup" [formGroup]="treatmentForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>

            <div class="form-group">
              <label for="spec_cr">Specialty</label>
              <select (change)="getServicesAndDoctorsBySpecialtyId(treatmentForm.value.specialty)" id="spec_cr" name="specialty" formControlName="specialty" class="form-control" aria-label="Select" required>
                <option *ngFor="let specialty of specialties" [value]="specialty.id">{{specialty?.id}}. {{specialty?.name}}</option>
              </select>
            </div>

            <div class="form-group"  >
              <label for="service_cr">Service</label>
              <select id="service_cr" name="service"  formControlName="service"  class="form-control" aria-label="Select" required>
                <option *ngFor="let service of services" [value]="service.id">{{service?.id}}. {{service?.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="doc_cr">Doctor</label>
              <select  (change)="isDateBeforeDoctor=false" id="doc_cr" name="doctor" formControlName="doctor"  class="form-control" aria-label="Select" required>
                <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor?.id}}. {{doctor?.lastName}} {{doctor?.firstName}} {{doctor?.middleName}}</option>
              </select>
            </div>

            <div *ngIf="user?.userRole !== 'ROLE_USER'" class="form-group">
              <label for="pat_cr">Patient</label>
              <select id="pat_cr" name="patient" formControlName="patient"  class="form-control" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let patient of patients">{{patient?.id}}. {{patient?.lastName}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="date_cr">Date</label>
              <input type="date" (change)="getDoctorFreeTime(treatmentForm.value.doctor, treatmentForm.value.date)" id="date_cr" name="date" formControlName="date" class="form-control" required>
              <div class="text-center text-danger" *ngIf="isDateBeforeDoctor">
                Select doctor before time. Start fill in fields in order.
              </div>
            </div>

            <div class="form-group">
              <label for="time_cr">Time</label>
              <select  id="time_cr" name="time" formControlName="time"  class="form-control" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let time of doctorFreeTime">{{time}}</option>
              </select>
              <div class=" text-center text-danger" *ngIf="!hasFreeTime">
                Doctor hasn't time for this date. Please choose another date.
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-treatment-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="treatmentForm.invalid" type="submit" class="btn btn-primary" (click)="onAddTreatment()">Add treatment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->
  <div class="modal fade" id="updateTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="treatmentUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateTreatmentModalLabel">Edit Treatment {{editTreatment?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="treatmentForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group">
              Doctor: {{editTreatment?.doctor.user.lastName}} {{editTreatment?.doctor.user.firstName}} {{editTreatment?.doctor.user.middleName}}, {{editTreatment?.doctor.specialty.name}}
            </div>
            <!--SERVICE-->
            <div class="form-group">
              <label for="service_ed">Service</label>
              <select  id="service_ed" name="service" formControlName="service"  class="form-control" aria-label="Select" required>
                <option *ngFor="let service of services"  [value]="service.id">{{service?.id}}. {{service?.name}}</option>
              </select>
            </div>

            <div *ngIf="user?.userRole !== 'ROLE_USER'" class="form-group">
              <label for="pat_up">Patient</label>
              <select id="pat_up" name="patient" formControlName="patient"  class="form-control" aria-label="Select" required>
                <option *ngFor="let patient of patients" [value]="patient.id">{{patient?.id}}. {{patient?.lastName}}</option>
              </select>
            </div>

            <!--Date and time-->
            <div class="form-group">
              <label for="date_up">Date</label>
              <input type="date" (change)="getDoctorFreeTime(treatmentForm.value.doctor, treatmentForm.value.date)"  id="date_up" name="date" formControlName="date" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="time_up">Time</label>
              <select  id="time_up" name="time" formControlName="time"  class="form-control" aria-label="Select" required>
                <option *ngFor="let time of doctorFreeTime" [value]="time" >{{time}}</option>
              </select>
              <div class=" text-center text-danger" *ngIf="!hasFreeTime">
                Doctor hasn't time for this date. Please choose another date.
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" id="edit-treatment-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="treatmentForm.invalid" (click)="onUpdateTreatment(editTreatment?.id)"  class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="treatmentDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTreatmentLabel">Delete Treatment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete treatment {{deleteTreatment?.id}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteTreatment(deleteTreatment?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
