<div class="login-section">
  <div class="row justify-content-center">
    <div class="col-md-4 ">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Sing In</h4>
        </div>
        <div class="card-body">
          <form class="form-singin" [formGroup]="singInForm">
            <div id="some-error" class="text-md-center mb-3 text-danger text-uppercase" *ngIf="catchSomeError">
              Invalid username or password. Try again.
            </div>
            <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label text-md-left">Email</label>
              <div class="col-md-9">
                <input type="email" formControlName="username" id="email" class="form-control" name="username" required>
                <span *ngIf="!singInForm.get('username').valid && singInForm.get('username').touched" >
                  Please provide a valid email
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-3 col-form-label text-md-left">Password</label>
              <div class="col-md-9">
                <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                <span *ngIf="!singInForm.get('password').valid && singInForm.get('password').touched">
                  Please provide a valid password
                </span>
              </div>
            </div>

            <span class="col-md-4 offset-md-3">
              <button [disabled]="singInForm.invalid" type="submit" class="btn btn-primary" (click)="doLogin()">
                                Sign In</button> or
              <a (click)="doSingUp()"  class="btn btn-outline-primary">Sing Up</a>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
