<div class="register-section">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Registration</h4>
        </div>
        <div class="card-body">
          <form class="form-singup" [formGroup]="singUpForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <!--LAST NAME-->
            <div class="form-group row">
              <label for="last_name" class="col-md-4 col-form-label text-md-right">Last name</label>
              <div class="col-md-6">
                <input type="text" formControlName="lastName" id="last_name" class="form-control" name="last-name" required>
                <div class="text-center text-danger" *ngIf="!singUpForm.get('lastName').valid && singUpForm.get('lastName').touched">
                  Invalid last name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--FIRST NAME-->
            <div class="form-group row">
              <label for="first_name" class="col-md-4 col-form-label text-md-right">First name</label>
              <div class="col-md-6">
                <input type="text" formControlName="firstName" id="first_name" class="form-control" name="first-name" required>
                <div class=" text-center text-danger" *ngIf="!singUpForm.get('firstName').valid && singUpForm.get('firstName').touched">
                  Invalid first name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--MIDDLE NAME-->
            <div class="form-group row">
              <label for="middle_name" class="col-md-4 col-form-label text-md-right">Middle name</label>
              <div class="col-md-6">
                <input type="text" formControlName="middleName" id="middle_name" class="form-control" name="middle-name" required>
                <div class="text-center text-danger" *ngIf="!singUpForm.get('middleName').valid && singUpForm.get('middleName').touched">
                  Invalid middle name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--BIRTHDATE-->
            <div class="form-group row">
              <label for="birth_date" class="col-md-4 col-form-label text-md-right">Birth date</label>
              <div class="col-md-6">
                <input type="date" formControlName="birthDate" id="birth_date" class="form-control" name="birth-date" required>
                <div class="text-center text-danger" *ngIf="!singUpForm.get('birthDate').valid && singUpForm.get('birthDate').touched" >
                  Please provide a valid birth date.
                </div>
                <div class="text-center text-danger" *ngIf="!agePass">
                  Your age should be at least 18 y.o.
                </div>
              </div>
            </div>
            <!--EMAIL/LOGIN-->
            <div class="form-group row">
              <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input type="email" formControlName="login" id="email_address" class="form-control" name="login" required>
                <div class="text-center text-danger" *ngIf="!singUpForm.get('login').valid && singUpForm.get('login').touched">
                  Please provide a valid email
                </div>
                <div class="text-center text-danger" *ngIf="emailAlreadyUsed">
                  This email is already used!
                </div>
              </div>

            </div>
            <!--PASSWORD-->
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                <div class="text-center text-danger" *ngIf="!singUpForm.get('password').valid && singUpForm.get('password').touched">
                  Please provide password
                </div>
              </div>

            </div>
            <!--CONFIRM PASSWORD-->
            <div class="form-group row">
              <label for="repeat-password" class="col-md-4 col-form-label text-md-right">Repeat password</label>
              <div class="col-md-6">
                <input type="password" formControlName="repPassword" id="repeat-password" class="form-control" name="repeat_password" required>
                <div class="text-center text-danger" *ngIf="!passwordConfirm" >
                  Passwords aren't equal! Repeat password correctly!
                </div>
              </div>
            </div>

            <!--CENTER-->
            <div class="form-group row">

              <label for="center" class="col-md-4 col-form-label text-md-right">Center You prefer</label>
              <select  id="center" name="center" formControlName="center"  class="form-control col-md-6" aria-label="Select">
                <option selected>choose...</option>
                <option *ngFor="let center of centers">{{center?.id}}. {{center?.location?.street}} {{center?.location?.building}} apt.{{center?.location.apartment}}</option>
              </select>
            </div>

            <!--BUTTON SING UP-->
            <div class="col-md-5 offset-md-5">
              <button [disabled]="singUpForm.invalid" type="submit" class="btn btn-outline-primary" (click)="createUser()">
                Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
