<nav *ngIf="role==='ROLE_ADMIN'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getServices()">Get services<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Service <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container">
  <!--GET OPERATION-->
  <!---------TABLE CONTENT---------->
  <table *ngIf="role!=='ROLE_ADMIN'" class="table table-striped col-md-14 text-center">
    <thead>
    <tr>
      <th scope="col" class="col-md=3">ID</th>
      <th scope="col" class="col-md-3">Specialty</th>
      <th scope="col" class="col-md-3">Name</th>
      <th scope="col" class="col-md-3">Price</th>
      <th scope="col" class="col-md-3 text-md-center">Make an appointment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services | paginate: {itemsPerPage: 7, currentPage: page}">
      <td>{{service?.id}}</td>
      <td>{{service?.specialty.name}}</td>
      <td>{{service?.name}}</td>
      <td>{{service?.price}}</td>
      <td class="text-md-center">
        <button type="button"   class="btn btn-primary " (click)="addTreatmentWithService(service)">Make</button></td>
    </tr>
    </tbody>
  </table>

  <div class="row" *ngIf="role==='ROLE_ADMIN'">
    <div *ngFor="let service of services | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{service?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Name: {{service?.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Specialty: {{service?.specialty?.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Price: {{service?.price}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(service, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(service, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <!--CREATE OPERATION-->

  <div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addServiceModalLabel">Add Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="serviceForm">
            <h5 *ngIf="errorOnForm" class="mb-3 text-center text-danger">
              Some fields are empty. Please check the form.
            </h5>
            <div class="form-group row">
              <label for="name_cr" class="col-md-4 col-form-label text-md-right">Service name</label>
              <div class="col-md-6">
                <input type="text" formControlName="name" id="name_cr" class="form-control" name="name" required>
                <div class=" text-center text-danger" *ngIf="!serviceForm.get('name').valid && serviceForm.get('name').touched">
                  Invalid name of service. Only letters, first is uppercase.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="specialty_cr" class="col-md-4 col-form-label text-md-right">Specialty</label>
              <select  id="specialty_cr" name="specialty" formControlName="specialty"  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let specialty of specialties">{{specialty?.id}}. {{specialty?.name}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="price_cr" class="col-md-4 col-form-label text-md-right">Price</label>
              <div class="col-md-6">
                <input type="text" formControlName="price" id="price_cr" class="form-control" name="price" required>
                <div class=" text-center text-danger" *ngIf="!serviceForm.get('price').valid && serviceForm.get('price').touched">
                  Invalid price. Only digits. First is 1..9. Min price is 100.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-service-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="serviceForm.invalid" class="btn btn-primary" type="submit" (click)="onAddService()">Add service</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->

  <div class="modal fade" id="updateServiceModal" tabindex="-1" role="dialog" aria-labelledby="serviceUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateServiceModalLabel">Edit Service {{editService?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="serviceForm">
            <h5 *ngIf="errorOnForm" class="mb-3 text-center text-danger">
              Some fields are empty. Please check the form.
            </h5>
            <div class="form-group row">
              <label for="name_up" class="col-md-4 col-form-label text-md-right">Service name</label>
              <div class="col-md-6">
                <input type="text" formControlName="name" id="name_up" class="form-control" name="name" required>
                <div class=" text-center text-danger" *ngIf="!serviceForm.get('name').valid && serviceForm.get('name').touched">
                  Invalid name of service. Only letters, first is uppercase.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="specialty_up" class="col-md-4 col-form-label text-md-right">Specialty</label>
              <select  id="specialty_up" name="specialty"  formControlName="specialty"  class="form-control col-md-6" aria-label="Select">
                <option *ngFor="let specialty of specialties" [value]="specialty.id">
                  {{specialty?.id}}. {{specialty?.name}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="price_up" class="col-md-4 col-form-label text-md-right">Price</label>
              <div class="col-md-6">
                <input type="text" formControlName="price" id="price_up" class="form-control" name="price" >
                <div class=" text-center text-danger" *ngIf="!serviceForm.get('price').valid && serviceForm.get('price').touched">
                  Invalid price. Only digits. First is 1..9. Min price is 100.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="edit-service-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="serviceForm.invalid" (click)="onUpdateService()" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteServiceModal" tabindex="-1" role="dialog" aria-labelledby="serviceDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteServiceLabel">Delete Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete service {{deleteService?.id}}.{{deleteService?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteService(deleteService?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
