<div class="container" id="main-container">

  <form #selectRecipient="ngForm" >
    <div class="form-group row">
      <label for="recipient" class="col-md-3 col-form-label text-md-right">Interlocutor</label>
      <select  (change)="getMessagesByRecipient(selectRecipient.value.recipient)" id="recipient" name="recipient" ngModel  class="form-control col-md-6" aria-label="Select">
        <option selected>choose...</option>
        <option *ngFor="let interlocutor of interlocutorsAsStrings">{{interlocutor}}</option>
      </select>
    </div>
  </form>

  <div>
    <div class="container" *ngIf="messages !== undefined">
      <div class="messaging">
        <div class="inbox_msg">

          <div class="mesgs">
            <div class="msg_history" #scrollMe>

              <div *ngFor="let message of messages" >
                <div *ngIf="message?.recipient.id === user.id; else userMes">
                  <div class="incoming_msg">
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>{{message.messageBody}}</p>
                        <span class="time_date"> {{message.messageTime | date: 'short'}}</span></div>
                    </div>
                  </div>
                </div>

                <ng-template #userMes>
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p>{{message.messageBody}}</p>
                      <span class="time_date"> {{message.messageTime | date: 'short'}}</span> </div>
                  </div>
                </ng-template>

              </div>

            </div>
            <form [formGroup]="messageForm">
              <div class="form-group row">
                <input hidden type="text" class="topic" formControlName="topic" name="topic"/>
                <textarea type="text" class="write_msg" formControlName="message" placeholder="Type a message" rows="2" required></textarea>
                <button [disabled]="messageForm.invalid" class="btn btn-primary ml-4" type="button" (click)="sendMessage(messageForm)">Send</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
