<nav  *ngIf="role==='ROLE_ADMIN'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getLocations()">Get locations<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Location <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container" *ngIf="role==='ROLE_ADMIN'">

  <!--GET OPERATION-->
  <div class="row">
    <div *ngFor="let location of locations | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{location?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Street: {{location?.street}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Building: {{location?.building}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Apartment: {{location?.apartment}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(location, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(location, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <!--CREATE OPERATION-->

  <div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLocationModalLabel">Add Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="locationForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group row">
              <label for="street_cr" class="col-md-4 col-form-label text-md-right">Street</label>
              <div class="col-md-6">
                <input type="text" formControlName="street" id="street_cr" class="form-control" name="street" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('street').valid && locationForm.get('street').touched">
                  Invalid name of street. Min: 3, max: 30.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="building_cr" class="col-md-4 col-form-label text-md-right">Building</label>
              <div class="col-md-6">
                <input type="text" formControlName="building" id="building_cr" class="form-control" name="building" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('building').valid && locationForm.get('building').touched">
                  Invalid building. Min: 1. First is digit. Without "/".
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="apt_cr" class="col-md-4 col-form-label text-md-right">Apartment</label>
              <div class="col-md-6">
                <input type="text" formControlName="apartment" id="apt_cr" class="form-control" name="apartment" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('apartment').valid && locationForm.get('apartment').touched">
                  Invalid apartment. Min: 1. Only digits.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-location-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="locationForm.invalid" type="submit" class="btn btn-primary" (click)="onAddLocation()">Add location</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--UPDATE OPERATION-->

  <div class="modal fade" id="updateLocationModal" tabindex="-1" role="dialog" aria-labelledby="locationUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateLocationModalLabel">Edit Location {{editLocation?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="locationForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group row">
              <label for="street_up" class="col-md-4 col-form-label text-md-right">Street</label>
              <div class="col-md-6">
                <input type="text" formControlName="street" id="street_up" class="form-control" name="street" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('street').valid && locationForm.get('street').touched">
                  Invalid name of street. Min: 3, max: 30.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="building_up" class="col-md-4 col-form-label text-md-right">Building</label>
              <div class="col-md-6">
                <input type="text" formControlName="building" id="building_up" class="form-control" name="building" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('building').valid && locationForm.get('building').touched">
                  Invalid building. Min: 1. First is digit. Without "/".
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="apt_up" class="col-md-4 col-form-label text-md-right">Apartment</label>
              <div class="col-md-6">
                <input type="text" formControlName="apartment" id="apt_up" class="form-control" name="apartment" required>
                <div class=" text-center text-danger" *ngIf="!locationForm.get('apartment').valid && locationForm.get('apartment').touched">
                  Invalid apartment. Min: 1. Only digits.
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" id="edit-location-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateLocation()" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteLocationModal" tabindex="-1" role="dialog" aria-labelledby="locationDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLocationLabel">Delete Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete location {{deleteLocation?.id}}.{{deleteLocation?.street}} {{deleteLocation?.building}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteLocation(deleteLocation?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
