<div class="login-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Unauthorized request</h4>
        </div>
        <div class="card-body">
            <span class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary mr-sm-2 " (click)="doLogin()">
                                Sign In</button>
              <button type="submit" class="btn btn-outline-primary" (click)="doMain()">
                                Main Page</button>
              <!--<span style="padding-left: 15px">Don't have an account? <a routerLink="/login">Log In</a></span>-->
            </span>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
