<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="role==='ROLE_ADMIN'">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getCenters()">Get centers<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Center <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container" *ngIf="role==='ROLE_ADMIN'">

  <!--GET OPERATION-->
  <div class="row">
    <div *ngFor="let center of centers | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{center?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Street: {{center?.location?.street}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Building: {{center?.location?.building}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Apartment: {{center?.location?.apartment}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(center, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(center, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <!--CREATE OPERATION-->

  <div class="modal fade" id="addCenterModal" tabindex="-1" role="dialog" aria-labelledby="addCenterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCenterModalLabel">Add Center</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCenter(addForm)">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Field is empty.
            </h5>
            <div class="form-group row">
              <label for="loc_cr" class="col-md-4 col-form-label text-md-right">Location</label>
              <select  id="loc_cr" name="location" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let location of locations">{{location?.id}}. {{location?.street}} {{location?.building}}, {{location?.apartment}}</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-center-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add center</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->

  <div class="modal fade" id="updateCenterModal" tabindex="-1" role="dialog" aria-labelledby="updateCenterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCenterModalLabel">Edit Center {{editCenter?.location?.street}} {{editCenter?.location?.building}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" novalidate>
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Field is empty.
            </h5>
            <div class="form-group row">
              <label for="loc_up" class="col-md-4 col-form-label text-md-right">Location</label>
              <select  id="loc_up" name="location" [(ngModel)]="editCenter?.location.id"  class="form-control col-md-6" aria-label="Select">
                <option *ngFor="let location of locationsForEdit" [ngValue]="location.id" [selected]="location.id == editCenter?.location.id">{{location?.id}}. {{location?.street}} {{location?.building}}</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" id="edit-center-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="onUpdateCenter(editCenter?.id, editForm)" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteCenterModal" tabindex="-1" role="dialog" aria-labelledby="centerDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCenterLabel">Delete Center</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete center {{deleteCenter?.id}}. {{deleteCenter?.location?.street}} {{deleteCenter?.location?.building}}, {{deleteCenter?.location?.apartment}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteCenter(deleteCenter?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
