<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="">MedCenter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getSpecialtyComponent()">Specialties</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="getServiceComponent()">Services </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="getDoctorComponent()">Doctors</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="getReviewComponent()">Reviews</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div *ngIf="!isLoggedInSystem; else isLoggedIn">
        <button (click)="getLoginComponent()" class="btn btn-primary active mr-sm-2" aria-pressed="false">Sing In</button>
        <button (click)="getAuthorizationComponent()" class="btn btn-outline-primary ">Sing Up</button>
      </div>
      <ng-template #isLoggedIn>
        <div class="row">
          <a class="text-light navbar-brand" (click)="showLK()">{{username}}</a>
          <button  (click)="doLogout()" class="btn btn-primary mr-sm-2 " aria-pressed="false">Log Out</button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>

  <div *ngIf="role === 'ROLE_ADMIN'" class=" text-center">
    <button (click)="getUserComponent()">Get user component</button>
    <button (click)="getSpecialtyComponent()">Get specialty component</button>
    <button (click)="getServiceComponent()">Get service component</button>
    <button (click)="getLocationComponent()">Get location component</button>
    <button (click)="getCenterComponent()">Get center component</button>
    <button (click)="getMessageComponent()">Get message component</button>
    <button (click)="getDoctorComponent()">Get doctor component</button>
    <button (click)="getReviewComponent()">Get review component</button>
    <button (click)="getTreatmentComponent()">Get treatment component</button>
  </div>

</div>
