<nav *ngIf="role!=='guest' && role!=='ROLE_DOCTOR'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a *ngIf="role==='ROLE_ADMIN'" class="nav-link" (click)="getReviews()">Get reviews<span class="sr-only">(current)</span></a>
        <a  class="nav-link" (click)="doSomeOperation(null, 'add')">Add Review <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container">

  <!--READ OPERATION-->
  <div class="row" *ngIf="role==='ROLE_ADMIN'">
    <div *ngFor="let review of reviews | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{review?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Doctor: {{review?.doctor?.user?.lastName}} {{review?.doctor?.user?.firstName}} {{review?.doctor?.user?.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Specialty: {{review?.doctor.specialty.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Patient: {{review?.patient.lastName}} {{review?.patient.firstName}} {{review?.patient.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Review: {{review?.reviewBody}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(review, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(review, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--READ OPERATION FOR USERS-->
  <div class="row" *ngIf="role!=='ROLE_ADMIN'">
    <div *ngFor="let review of reviewsDto | paginate: {itemsPerPage: 7, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{review?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Doctor: {{review?.doctorLastName}} {{review?.doctorFirstName}} {{review?.doctorMiddleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Specialty: {{review?.specialty}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>User: {{review?.userFirstName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Review: {{review?.reviewBody}}</li>
        </ul>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <!--CREATE OPERATION-->

  <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addReviewModalLabel">Add Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="reviewForm">
            <h5 *ngIf="errorOnReview" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div *ngIf="role!=='ROLE_ADMIN'" class="form-group row">
              <label for="doct_cr" class="col-md-4 col-form-label text-md-right">Doctor</label>
              <select  id="doct_cr" name="doctor" formControlName="doctor" class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let doctor of doctorDtoStrings" [value]="doctor">{{doctor}}</option>
              </select>
            </div>

            <div *ngIf="role==='ROLE_ADMIN'" class="form-group row">
              <label for="doc_cr" class="col-md-4 col-form-label text-md-right">Doctor</label>
              <select  id="doc_cr" name="doctor" formControlName="doctor" class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let doctor of doctors" [value]="doctor.user.id">{{doctor?.user.id}}. {{doctor?.user.lastName}} {{doctor?.user.firstName}} {{doctor?.user.middleName}}, {{doctor?.specialty.name}}</option>
              </select>
            </div>

            <div class="form-group row" *ngIf="role === 'ROLE_ADMIN'">
              <label for="pat_cr" class="col-md-4 col-form-label text-md-right">Patient</label>
              <select  id="pat_cr" name="patient" formControlName="patient"  class="form-control col-md-6" aria-label="Select">
                <option *ngFor="let patient of patients" [value]="patient.id">{{patient?.id}}. {{patient?.lastName}} {{patient?.firstName}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="review_cr" class="col-md-4 col-form-label text-md-right">Review</label>
              <div class="w-50">
                <textarea formControlName="review" id="review_cr" class="form-control " name="review" rows="4" required ></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-review-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="reviewForm.invalid" type="submit" class="btn btn-primary" (click)="onAddReview()" >Add review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->
  <div class="modal fade" id="updateReviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateReviewModalLabel">Edit Review {{editReview?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <h5 *ngIf="errorOnReview" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>

            <div class="form-group row">
              <label for="doc_up" class="col-md-4 col-form-label text-md-right">Doctor</label>
              <select  id="doc_up" name="doctor" [(ngModel)]="editReview?.doctor.user.id"  class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let doctor of doctors" [ngValue]="doctor.user.id" [selected]="doctor.user.id==editReview?.doctor.user.id">{{doctor?.user?.id}}. {{doctor?.user?.lastName}} {{doctor?.user?.firstName}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="pat_up" class="col-md-4 col-form-label text-md-right">Patient</label>
              <select  id="pat_up" name="patient" [(ngModel)]="editReview?.patient.id"  class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let patient of patients" [ngValue]="patient.id" [selected]="patient.id==editReview?.patient.id">{{patient?.id}}. {{patient?.lastName}} {{patient?.firstName}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="review_up" class="col-md-4 col-form-label text-md-right">Review</label>
              <div class="w-50">
                <textarea type="text" ngModel="{{editReview?.reviewBody}}" id="review_up" class="form-control" name="review" rows="4" required></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="edit-review-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editForm.invalid" (click)="onUpdateReview(editReview?.id, editForm)" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteReviewLabel">Delete Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete review {{deleteReview?.id}}.{{deleteReview?.reviewBody}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteReview(deleteReview?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
