<div class="row">
  <div class="col-md-3">
    <!------------SPECIALTIES---------------->
    <div class="card border-success mb-3 text-center">
      <div class="card-header">
        <div class="card-link text-center" >
          <h5 class="card-title text-dark">Specialties</h5>
        </div>
      </div>
      <div >
        <div class="card-body text-left" >

          <table class="table table-hover group table-striped" *ngFor="let specialty of specialties">
            <tbody>
            <tr>
              <td>{{specialty?.name}}</td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class="card-footer text-muted">
          <button class="btn btn-sm btn-info" (click)="toSpecialtyComponent()">Make appointment</button>
        </div>

      </div>
    </div>
    <!----------------------------------------------->

    <!-----------------SERVICES---------------------->
    <div class="card border-success mb-3 text-center ">
      <div class="card-header">
        <div class="card-link text-center" >
          <h5 class="card-title text-dark">Services</h5>
        </div>
      </div>
      <div >
        <div class="card-body text-left" >

          <table class="table table-hover group table-striped" *ngFor="let service of services">
            <tbody>
            <tr>
              <td>{{service?.name}} of {{service?.specialty.name}}</td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class="card-footer text-muted">
          <button class="btn btn-sm btn-info" (click)="toServiceComponent()">Make appointment</button>
        </div>

      </div>
    </div>
    <!--------------------------------------------------------->

  </div>

  <div id="DivMain" class="col-md-6 mt-5" >
    <div id="DivMainContent" class="" >
      Welcome to our medical center. We are glad to see You and want to offer You our services.
      In order to make an appointment with a doctor, You need to register or log in to the system, and then make an appointment with the right doctor
      or the right service. Also, You can see patients reviews in the tab "Reviews" at the navigation bar of the page.
      <div class="text-center">
        <img class="margin-top-5 imgclass" src="assets/cross.png" alt="red_cross" />
      </div>
    </div>
  </div>


  <div id="DivRight" class="col-md-3">

    <!----------------------WORK TIME-------------------------->
    <div class="card border-success mb-3 text-center">
      <div class="card-header">
        <div class="card-link text-center" >
          <h5 class="card-title text-dark">Work time</h5>
        </div>
      </div>
      <div >
        <div class="card-body text-left" >
          <table class="table table-hover group table-striped">
            <tbody>
            <tr>
              <td>Monday:</td>
              <td>10 AM - 6 PM</td>
            </tr>
            <tr>
              <td>Tuesday:</td>
              <td>10 AM - 6 PM</td>
            </tr>
            <tr>
              <td>Wednesday:</td>
              <td>10 AM - 6 PM</td>
            </tr>
            <tr>
              <td>Thursday:</td>
              <td>10 AM - 6 PM</td>
            </tr>
            <tr>
              <td>Friday:</td>
              <td>10 AM - 6 PM</td>
            </tr>
            <tr>
              <td>Saturday:</td>
              <td>11 AM - 5 PM</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>Day off</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <!--------------------CENTERS--------------------------->
        <div class="card border-success mb-3 text-center">
          <div class="card-header">
            <div class="card-link text-center" >
              <h5 class="card-title text-dark">Centers addresses</h5>
            </div>
          </div>
          <div >
            <div class="card-body text-left" >

              <table class="table table-hover group table-striped" *ngFor="let center of centers">
                <tbody>
                <tr>
                  <td>{{center?.location.street}} {{center?.location.building}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!------------------------------------------------------>

  </div>
</div>
