<nav *ngIf="role==='ROLE_ADMIN'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getDoctors()">Get doctors<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Doctor <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container">

  <!---------TABLE CONTENT---------->
  <table *ngIf="role!=='ROLE_ADMIN'" class="table table-striped col-md-14 text-center">
    <thead>
    <tr>
      <th scope="col" class="col-md=3">ID</th>
      <th scope="col" class="col-md-3">Specialty</th>
      <th scope="col" class="col-md-3">Name</th>
      <th scope="col" class="col-md-3 text-md-center">Make an appointment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doctor of doctorsDto | paginate: {itemsPerPage: 7, currentPage: page}">
      <td>{{doctor?.id}}</td>
      <td>{{doctor?.specialty.name}}</td>
      <td>{{doctor?.lastName}} {{doctor?.firstName}} {{doctor?.middleName}}</td>
      <td class="text-md-center">
        <button type="button"   class="btn btn-primary " (click)="addTreatmentWithDoctor(doctor)">Make</button></td>
    </tr>
    </tbody>
  </table>

  <!--GET OPERATION-->
  <div class="row" *ngIf="role==='ROLE_ADMIN'">
    <div *ngFor="let doctor of doctors | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{doctor?.user?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Name: {{doctor?.user?.lastName}} {{doctor?.user?.firstName}} {{doctor?.user?.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Specialty: {{doctor?.specialty?.name}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Salary: {{doctor?.salary}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Center: {{doctor?.center?.location?.street}} {{doctor?.center?.location?.building}}, {{doctor?.center?.location?.apartment}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(doctor, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(doctor, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <!--CREATE OPERATION-->

  <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDoctorModalLabel">Add Doctor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddDoctor(addForm)">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group row">
              <label for="users_cr" class="col-md-4 col-form-label text-md-right">User</label>
              <select  id="users_cr" name="user" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let doctor of possibleDoctors">{{doctor?.id}}. {{doctor?.lastName}} {{doctor?.firstName}} {{doctor?.middleName}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="specialty_cr" class="col-md-4 col-form-label text-md-right">Specialty</label>
              <select  id="specialty_cr" name="specialty" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let specialty of specialties">{{specialty?.id}}. {{specialty?.name}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="salary_cr" class="col-md-4 col-form-label text-md-right">Salary</label>
              <div class="col-md-6">
                <input type="text" ngModel id="salary_cr" class="form-control" name="salary" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="center_cr" class="col-md-4 col-form-label text-md-right">Center</label>
              <select  id="center_cr" name="center" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let center of centers">{{center?.id}}. {{center?.location?.street}} {{center?.location?.building}}</option>
              </select>
            </div>


            <div class="modal-footer">
              <button type="button" id="add-doctor-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add doctor</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->

  <div class="modal fade" id="updateDoctorModal" tabindex="-1" role="dialog" aria-labelledby="updateDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDoctorModalLabel">Edit Doctor {{editDoctor?.user?.lastName}} {{editDoctor?.user?.firstName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group row">
              <label for="specialty_up" class="col-md-4 col-form-label text-md-right">Specialty</label>
              <select  id="specialty_up" name="specialty" [(ngModel)]="editDoctor?.specialty.id"  class="form-control col-md-6" aria-label="Select">
                <option selected>{{editDoctor?.specialty?.name}}</option>
                <option *ngFor="let specialty of specialties" [ngValue]="specialty.id" [selected]="specialty.id==editDoctor?.specialty.id">{{specialty?.id}}. {{specialty?.name}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="salary_up" class="col-md-4 col-form-label text-md-right">Salary</label>
              <div class="col-md-6">
                <input type="text" ngModel="{{editDoctor?.salary}}" id="salary_up" class="form-control" name="salary" >
              </div>
            </div>

            <div class="form-group row">
              <label for="center_up" class="col-md-4 col-form-label text-md-right">Center</label>
              <select  id="center_up" name="centerd" [(ngModel)]="editDoctor?.center.id"  class="form-control col-md-6" aria-label="Select">
                <option *ngFor="let center of centers" [ngValue]="center.id" [selected]="center.id==editDoctor?.center.id">{{center?.id}}. {{center?.location?.street}} {{center?.location?.building}}</option>
              </select>
            </div>


            <div class="modal-footer">
              <button type="button" id="edit-doctor-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="onUpdateDoctor(editDoctor?.user?.id, editForm)" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteDoctorModal" tabindex="-1" role="dialog" aria-labelledby="doctorDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteDoctorLabel">Delete Doctor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete doctor {{deleteDoctor?.user?.lastName}} {{deleteDoctor?.user?.firstName}} {{deleteDoctor?.user?.middleName}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteDoctor(deleteDoctor?.user?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
