<nav  *ngIf="role==='ROLE_ADMIN'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul  class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getMessages()">Get messages<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Message <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div  *ngIf="role==='ROLE_ADMIN'" class="container" id="main-container">

  <!--READ OPERATION-->
  <div class="row">
    <div *ngFor="let message of messages | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div>
        <div class="card m-b-30">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{message?.id}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Sender: {{message?.sender?.lastName}} {{message?.sender?.firstName}} {{message?.sender?.middleName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Recipient: {{message?.recipient?.lastName}} {{message?.recipient?.firstName}} {{message?.recipient?.middleName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Topic: {{message?.topic}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Message: {{message?.messageBody}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Time: {{message?.messageTime | date: 'short'}}</li>

          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="doSomeOperation(message, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="doSomeOperation(message, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <!--CREATE OPERATION-->

  <div class="modal fade" id="addMessageModal" tabindex="-1" role="dialog" aria-labelledby="addMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMessageModalLabel">Add Center</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddMessage(addForm)">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <div class="form-group row">
              <label for="sender_cr" class="col-md-4 col-form-label text-md-right">Sender</label>
              <select  id="sender_cr" name="sender" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let sender of senders">{{sender?.id}}. {{sender?.lastName}} {{sender?.firstName}}</option>
              </select>
            </div>

            <div class="form-group row">
              <label for="rep_cr" class="col-md-4 col-form-label text-md-right">Recipient</label>
              <select  id="rep_cr" name="recipient" ngModel  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let recipient of recipients">{{recipient?.id}}. {{recipient?.lastName}} {{recipient?.firstName}}</option>
              </select>
            </div>

            <div class="form-group row ">
              <label for="topic_cr" class="col-md-4 col-form-label text-md-right">Topic</label>
              <div class="w-50">
                <input type="text" ngModel id="topic_cr" class="form-control" name="topic">
              </div>
            </div>

            <div class="form-group row">
              <label for="message_cr" class="col-md-4 col-form-label text-md-right">Message</label>
              <div class="w-50">
                <textarea type="text" ngModel id="message_cr" class="form-control" name="message" rows="4" required ></textarea>

              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-message-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->
  <div class="modal fade" id="updateMessageModal" tabindex="-1" role="dialog" aria-labelledby="messageUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateMessageModalLabel">Edit Message {{editMessage?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" novalidate>
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>

            <div class="form-group row">
              <label for="topic_up" class="col-md-4 col-form-label text-md-right">Topic</label>
              <div class="w-50">
                <input type="text" ngModel="{{editMessage?.topic}}" id="topic_up" class="form-control" name="topic" >
              </div>
            </div>

            <div class="form-group row">
              <label for="message_up" class="col-md-4 col-form-label text-md-right">Message</label>
              <div class="w-50">
                <textarea type="text" ngModel="{{editMessage?.messageBody}}" id="message_up" class="form-control" name="message" rows="4" required></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="edit-message-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editForm.invalid" (click)="onUpdateMessage(editMessage?.id, editForm)" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteMessageModal" tabindex="-1" role="dialog" aria-labelledby="messageDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteMessageLabel">Delete Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete message {{deleteMessage?.id}}.{{deleteMessage?.messageBody}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteMessage(deleteMessage?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>
