<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="userRole === 'ROLE_ADMIN'">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <a class="nav-link" (click)="getUsers()">Get users <span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add User <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!--USER OPERATION-->
<div class="container" id="main-container" *ngIf="userRole === 'ROLE_ADMIN'">
  <!--GET OPERATION-->
  <div class="row">
    <div *ngFor="let user of users | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>ID: {{user?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Last name: {{user?.lastName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>First name: {{user?.firstName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Middle name: {{user?.middleName}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Login: {{user?.login}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Birthdate: {{user?.birthDate}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Role: {{user?.userRole}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Center: {{user?.center?.id}}. {{user?.center?.location?.street}} {{user?.center?.location?.building}}, {{user?.center?.location?.apartment}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
             <a (click)="doSomeOperation(user, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
             <a (click)="doSomeOperation(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <!--CREATE OPERATION-->

  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <!--LAST NAME-->
            <div class="form-group row">
              <label for="lastName_cr" class="col-md-4 col-form-label text-md-right">Last name</label>
              <div class="col-md-6">
                <input type="text" formControlName="lastName" id="lastName_cr" class="form-control" name="lastName" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">
                  Invalid last name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--FIRST NAME-->
            <div class="form-group row">
              <label for="firstName_cr" class="col-md-4 col-form-label text-md-right">First name</label>
              <div class="col-md-6">
                <input type="text" formControlName="firstName" id="firstName_cr" class="form-control" name="firstName" required>
                <div class=" text-center text-danger" *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">
                  Invalid first name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--MIDDLE NAME-->
            <div class="form-group row">
              <label for="middleName_cr" class="col-md-4 col-form-label text-md-right">Middle name</label>
              <div class="col-md-6">
                <input type="text" formControlName="middleName" id="middleName_cr" class="form-control" name="middleName" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('middleName').valid && userForm.get('middleName').touched">
                  Invalid middle name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--BIRTHDATE-->
            <div class="form-group row">
              <label for="birthDate_cr" class="col-md-4 col-form-label text-md-right">Birth date</label>
              <div class="col-md-6">
                <input type="date" formControlName="birthDate" id="birthDate_cr" class="form-control" name="birthDate" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('birthDate').valid && userForm.get('birthDate').touched" >
                  Please provide a valid birth date.
                </div>
                <div class="text-center text-danger" *ngIf="!agePass">
                  Your age should be at least 18 y.o.
                </div>
              </div>
            </div>
            <!--EMAIL/LOGIN-->
            <div class="form-group row">
              <label for="login_cr" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input type="email" formControlName="login" id="login_cr" class="form-control" name="login" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('login').valid && userForm.get('login').touched">
                  Please provide a valid email
                </div>
                <div class="text-center text-danger" *ngIf="emailAlreadyUsed">
                  This email is already used!
                </div>
              </div>
            </div>
            <!--PASSWORD-->
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('password').valid && userForm.get('password').touched">
                  Please provide password
                </div>
              </div>
            </div>
            <!--CONFIRM PASSWORD-->
            <div class="form-group row">
              <label for="repeat-password" class="col-md-4 col-form-label text-md-right">Repeat password</label>
              <div class="col-md-6">
                <input type="password" formControlName="repPassword" id="repeat-password" class="form-control" name="repeat_password" required>
                <div class="text-center text-danger" *ngIf="!passwordConfirm" >
                  Passwords aren't equal! Repeat password correctly!
                </div>
              </div>
            </div>
            <!--USER ROLE-->
            <div class="form-group row">
              <label for="role_cr" class="col-md-4 col-form-label text-md-right">User role</label>
              <select  id="role_cr" name="center" formControlName="userRole"  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let role of roles">{{role}}</option>
              </select>
            </div>
            <!--CENTER-->
            <div class="form-group row">

              <label for="center_cr" class="col-md-4 col-form-label text-md-right">User center</label>
              <select  id="center_cr" name="center" formControlName="center"  class="form-control col-md-6" aria-label="Select" required>
                <option selected>choose...</option>
                <option *ngFor="let center of centers">{{center?.id}}. {{center?.location?.street}} {{center?.location?.building}} apt.{{center?.location.apartment}}</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary"  (click)="createUser()">Add user</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->
  <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Edit User {{editUser?.lastName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editUserForm">
            <h5 *ngIf="errorOnForm" class="text-center text-danger">
              Some fields are empty! Check the form.
            </h5>
            <!--LAST NAME-->
            <div class="form-group row">
              <label for="last_name_up" class="col-md-4 col-form-label text-md-right">Last name</label>
              <div class="col-md-6">
                <input type="text" formControlName="lastName" id="last_name_up" class="form-control" name="lastName" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">
                  Invalid last name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--FIRST NAME-->
            <div class="form-group row">
              <label for="firstName_up" class="col-md-4 col-form-label text-md-right">First name</label>
              <div class="col-md-6">
                <input type="text" formControlName="firstName" id="firstName_up" class="form-control" name="firstName" required>
                <div class=" text-center text-danger" *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">
                  Invalid first name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--MIDDLE NAME-->
            <div class="form-group row">
              <label for="middleName_up" class="col-md-4 col-form-label text-md-right">Middle name</label>
              <div class="col-md-6">
                <input type="text" formControlName="middleName" id="middleName_up" class="form-control" name="middleName" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('middleName').valid && userForm.get('middleName').touched">
                  Invalid middle name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--BIRTHDATE-->
            <div class="form-group row">
              <label for="birthDate_up" class="col-md-4 col-form-label text-md-right">Birth date</label>
              <div class="col-md-6">
                <input type="date" formControlName="birthDate" id="birthDate_up" class="form-control" name="birthDate" required>
                <div class="text-center text-danger" *ngIf="!userForm.get('birthDate').valid && userForm.get('birthDate').touched" >
                  Please provide a valid birth date.
                </div>
                <div class="text-center text-danger" *ngIf="!agePass">
                  Your age should be at least 18 y.o.
                </div>
              </div>
            </div>
            <!--USER ROLE-->
            <div class="form-group row">
              <label for="role_up" class="col-md-4 col-form-label text-md-right">User role</label>
              <select  id="role_up" name="center" formControlName="userRole"  class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
              </select>
            </div>
            <!--CENTER-->
            <div class="form-group row">
              <label for="center_up" class="col-md-4 col-form-label text-md-right">User center</label>
              <select  id="center_up" name="center" formControlName="center"  class="form-control col-md-6" aria-label="Select" required>
                <option *ngFor="let center of centers" [value]="center.id">{{center?.id}}. {{center?.location?.street}} {{center?.location?.building}}, {{center?.location.apartment}}</option>
              </select>
            </div>

              <div class="modal-footer">
              <button type="button" id="edit-user-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editUserForm.invalid" (click)="onUpdateUser()"  class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserLabel">Delete User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete user {{deleteUser?.lastName}} {{deleteUser?.firstName}} {{deleteUser?.middleName}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteUser(deleteUser?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

