<div class="container" id="main-container">
  <!--GET OPERATION-->
  <div class="row col-md-12">

      <div class="col-md-3 ">
        <div class="card m-b-30 mr-3">
          <ul class="list-group list-group-flush">
            <li hidden class="list-group-item"><i class="fa fa-phone float-right"></i>ID: {{user?.id}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Login: {{user?.login}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Last name: {{user?.lastName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>First name: {{user?.firstName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Middle name: {{user?.middleName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Birthdate: {{user?.birthDate}}</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="doSomeOperation(null, 'editUser')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            </div>
          </div>

        </div>
        <div class=" mb-3">
          <button *ngIf="user?.userRole === 'ROLE_DOCTOR'" class="btn btn-secondary" (click)="getUserTreatments()">My treatments as user</button>
        </div>
        <div class=" mb-3">
          <button class="btn btn-secondary" (click)="getTreatments()">Treatments</button>
        </div>
        <div class=" mb-3">
          <button class="btn btn-secondary" (click)="getUserMessages()">Messages</button>
        </div>
      </div>


    <!---------TABLE START HERE--------->
    <!--TABLE FOR USER or USERMODE = TRUE-->
    <div class="mr-ml-2 col-md-9">
      <div *ngIf="user?.userRole === 'ROLE_USER' || userMode" class="mytable mr-ml-2 ">

        <!---------TABLE CONTENT---------->
        <table *ngIf="treatments !== undefined" class="table table-striped text-md-center"> <!---->
          <thead>
          <tr>
            <th scope="col" class="col-md-1 ">№</th>
            <th scope="col" class="col-md-1 ">Service</th>
            <th scope="col" class="col-md-1">Doctor</th>
            <th scope="col" class="col-md-2">Name</th>
            <th scope="col" class="col-md-1">Discussion</th>
            <th scope="col" class="col-md-1 ">Price</th>
            <th scope="col" class="col-md-3 ">Time</th>
            <th scope="col" class="col-md-2">Edit time</th>
            <th scope="col" class="col-md-2">Review</th>
            <th scope="col" class="col-md-1">Cancel /delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let treatment of treatments | paginate: { id: 'userMode', itemsPerPage: 3, currentPage: page}; let i = index" [ngClass]="{'text-muted': treatment.appointment.toString() < currentDate}" >
            <td >{{(page-1)* countPerPage + i + 1}}</td>
            <td >{{treatment?.service.name}}</td>
            <td *ngIf="userMode">{{treatment?.service.specialty.name}}</td>
            <td *ngIf="userMode">{{treatment?.doctor.user.lastName}} {{treatment?.doctor.user.firstName}} {{treatment?.doctor.user.middleName}}</td>
            <td>
              <button *ngIf="treatment.appointment.toString() > currentDate" type="button"   class="btn btn-primary " (click)="doSomeOperation(treatment, 'writeMessage')">Write</button>
            </td>
            <td >{{treatment?.service.price}}</td>
            <td >{{treatment?.appointment | date: 'short'}}</td>
            <td *ngIf="userMode">
              <button *ngIf="treatment.appointment.toString() > currentDate" type="button"   class="btn btn-primary " (click)="doSomeOperation(treatment, 'editTreatment')">Edit</button>
            </td>
            <td *ngIf="userMode">
              <button (click)="giveReview(treatment?.doctor)" class="btn btn-primary" data-placement="top" data-original-title="Delete">Give</button>
            </td>
            <td *ngIf="userMode">
              <a (click)="doSomeOperation(treatment, 'deleteTreatment')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls id="userMode" (pageChange)="page = $event"></pagination-controls>
        <!-------------------------------->

      </div>

      <div *ngIf="user?.userRole === 'ROLE_DOCTOR' && !userMode" class="mytable mr-ml-2">
        <!--TABLE AS A DOCTOR-->
        <table *ngIf="treatments !== undefined" class="table table-striped text-md-center">
          <thead>
          <tr>
            <th scope="col" class="col-md-1 ">№</th>
            <th scope="col" class="col-md-1 ">Service</th>
            <th scope="col" class="col-md-2">Name</th>
            <th scope="col" class="col-md-1">Discussion</th>
            <th scope="col" class="col-md-1 ">Price</th>
            <th scope="col" class="col-md-3 ">Time</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let treatment of treatments | paginate: { id:'doctorMode', itemsPerPage: 3, currentPage: page}; let i = index" [ngClass]="{'text-muted': treatment.appointment.toString() < currentDate}" >
            <td >{{(page-1)* countPerPage + i + 1}}</td>
            <td >{{treatment?.service.name}}</td>
            <td >{{treatment?.patient.lastName}} {{treatment?.patient.firstName}} {{treatment?.patient.middleName}}</td>
            <td>
              <button *ngIf="treatment.appointment.toString() > currentDate" type="button"   class="btn btn-primary " (click)="doSomeOperation(treatment, 'writeMessage')">Write</button>
            </td>
            <td >{{treatment?.service.price}}</td>
            <td >{{treatment?.appointment | date: 'short'}}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls id="doctorMode" (pageChange)="page = $event"></pagination-controls>
        <!-------------------------------->
      </div>



      <!--TABLE FOR ADMIN-->
      <div *ngIf="user?.userRole === 'ROLE_ADMIN'" class="mytable mr-ml-2 col-md-9">

        <!---------TABLE CONTENT---------->
        <table *ngIf="treatments !== undefined" class="table table-striped text-md-center"> <!---->
          <thead>
          <tr>
            <th scope="col" class="col-md-1 ">№</th>
            <th scope="col" class="col-md-1 ">Service</th>
            <th scope="col" class="col-md-1">Doctor</th>
            <th scope="col" class="col-md-2">Name</th>
            <th scope="col" class="col-md-2">Patient name</th>
            <th scope="col" class="col-md-1 ">Price</th>
            <th scope="col" class="col-md-3 ">Time</th>
            <th scope="col" class="col-md-2">Edit time</th>
            <th  scope="col" class="col-md-1">Cancel /delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let treatment of treatments | paginate: { itemsPerPage: 3, currentPage: page}; let i = index" [ngClass]="{'text-muted': treatment.appointment.toString() < currentDate}">
            <td >{{(page-1)* countPerPage + i + 1}}</td>
            <td >{{treatment?.service.name}}</td>
            <td >{{treatment?.service.specialty.name}}</td>
            <td >{{treatment?.doctor.user.lastName}} {{treatment?.doctor.user.firstName}} {{treatment?.doctor.user.middleName}}</td>
            <td >{{treatment?.patient.lastName}} {{treatment?.patient.firstName}} {{treatment?.patient.middleName}}</td>
            <td >{{treatment?.service.price}}</td>
            <td >{{treatment?.appointment | date: 'short'}}</td>
            <td>
              <button *ngIf="treatment.appointment.toString() > currentDate" type="button"   class="btn btn-primary " (click)="doSomeOperation(treatment, 'editTreatment')">Edit</button>
            </td>
            <td>
              <a (click)="doSomeOperation(treatment, 'deleteTreatment')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        <!-------------------------------->
      </div>

      <label for="filters" class="ml-3">Filters:</label>
      <div id="filters" class=" row col-md-8">
        <div *ngIf="user?.userRole !== 'ROLE_DOCTOR' || userMode" class="ml-3 mb-3">
          <select  (change)="applyFilter()" id="spec_filter" class="form-control" [(ngModel)]="specialtyFilter" name="specialtyFilter" >
            <option selected>Specialty</option>
            <option *ngFor="let specialty of specialtiesForFilter">{{specialty}}</option>
          </select>
        </div>
        <div class="ml-3 mb-3">
          <select (change)="applyFilter()" id="serv_filter" class="form-control" [(ngModel)]="serviceFilter" name="serviceFilter" >
            <option selected>Service</option>
            <option *ngFor="let service of servicesForFilter">{{service}}</option>
          </select>
        </div>
        <div class="ml-3 mb-3">
          <button class="btn btn-secondary" (click)="resetFilter()">Reset</button>
        </div>
      </div>
      <div class="ml-3 mb-3">
        <button class="btn btn-secondary" (click)="addTreatment()">Add treatment</button>
      </div>
    </div>


  </div>


  <!--UPDATE DATETIME TREATMENT-->

  <div class="modal fade" id="updateDateTimeModal" tabindex="-1" role="dialog" aria-labelledby="dateTimeUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDateTimeModalLabel">Edit date and/or time of treatment "{{editTreatment?.service.name}}"</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editTreatmentForm" >

            <div class="form-group">
              <label for="date_cr">Date</label>
              <input type="date" (change)="getDoctorFreeTime(editTreatment?.doctor.user.id, editForm.value.date)"  id="date_cr" name="date" formControlName="date" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="time_cr">Time</label>
              <select  id="time_cr" name="time"  formControlName="time" class="form-control" aria-label="Select" required>
                <option selected *ngIf="editDate === editForm.value.date">{{editTime}}</option>
                <option *ngFor="let time of doctorFreeTime" [selected]="time === editTime">{{time}}</option>
              </select>
            </div>


            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editTreatmentForm.invalid" (click)="onUpdateTreatment(editTreatmentForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------------------------------->

  <!-----------UPDATE USER--------------->
  <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Edit your page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="updateForm" [formGroup]="editForm">

            <!--LAST NAME-->
            <div class="form-group row">
              <label for="last_name" class="col-md-4 col-form-label text-md-right">Last name</label>
              <div class="col-md-6">
                <input type="text" formControlName="lastName" id="last_name" class="form-control" name="lastName" required>
                <div class="text-center text-danger" *ngIf="!editForm.get('lastName').valid && editForm.get('lastName').touched">
                  Invalid last name. Only letters, first is uppercase.
                </div>
              </div>
            </div>
            <!--FIRST NAME-->
            <div class="form-group row">
              <label for="first_name" class="col-md-4 col-form-label text-md-right">First name</label>
              <div class="col-md-6">
                <input type="text" formControlName="firstName" id="first_name" class="form-control" name="firstName" required>
                <div class=" text-center text-danger" *ngIf="!editForm.get('firstName').valid && editForm.get('firstName').touched">
                  Invalid first name. Only letters, first is uppercase.
                </div>
              </div>

            </div>
            <!--MIDDLE NAME-->
            <div class="form-group row">
              <label for="middle_name" class="col-md-4 col-form-label text-md-right">Middle name</label>
              <div class="col-md-6">
                <input type="text" formControlName="middleName" id="middle_name" class="form-control" name="middleName" required>
                <div class="text-center text-danger" *ngIf="!editForm.get('middleName').valid && editForm.get('middleName').touched">
                  Invalid middle name. Only letters, first is uppercase.
                </div>
              </div>

            </div>
            <!--BIRTHDATE-->
            <div class="form-group row">
              <label for="birth_date" class="col-md-4 col-form-label text-md-right">Birth date</label>
              <div class="col-md-6">
                <input type="date" formControlName="birthDate" id="birth_date" class="form-control" name="birthDate" required>
                <div class="text-center text-danger" *ngIf="!editForm.get('birthDate').valid && editForm.get('birthDate').touched" >
                  Please provide a valid birth date
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button"  data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="editForm.invalid" (click)="onUpdateUser(editForm)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------->

  <!--WRITE MESSAGE-->
  <div class="modal fade" id="writeMessageModal" tabindex="-1" role="dialog" aria-labelledby="writeMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="writeMessageModalLabel">Write message to {{recipient?.lastName}} {{recipient?.firstName}} {{recipient?.middleName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #messageForm="ngForm" >
            <div class="form-group row">
              <label for="topic_cr" class="col-md-4 col-form-label text-md-right">Topic</label>
              <div class="w-50">
                <input type="text" ngModel id="topic_cr" class="form-control" name="topic" >
              </div>
            </div>

            <div class="form-group row">
              <label for="message_cr" class="col-md-4 col-form-label text-md-right">Message</label>
              <div class="w-50">
                <textarea id="message_cr" ngModel name="message" class="form-control" rows="4" required>
                </textarea>
                <div class=" text-center text-danger" *ngIf="messageIsEmpty">
                  Type some message, please. Or close the window.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="send-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="messageForm.invalid" (click)="sendMessage(messageForm)"  class="btn btn-primary" >Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------->

  <!--DELETE OPERATION-->

  <div class="modal fade" id="deleteTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="treatmentDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTreatmentLabel">Cancel or delete Treatment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to cancel/delete treatment {{deleteTreatment?.id}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteTreatment(deleteTreatment?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--SUCCESS SENDING-->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Message sent successfully</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
