<nav *ngIf="role==='ROLE_ADMIN'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="getSpecialties()">Get specialties<span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="doSomeOperation(null, 'add')">Add Specialty <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container">

  <!---------TABLE CONTENT---------->
  <table *ngIf="role!=='ROLE_ADMIN'" class="table table-striped col-md-14">
    <thead>
    <tr>
      <th scope="col" class="col-md=3">ID</th>
      <th scope="col" class="col-md-8">Name</th>
      <th scope="col" class="col-md-3 text-md-center">Make an appointment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let specialty of specialties | paginate: {itemsPerPage: 7, currentPage: page}">
      <td>{{specialty?.id}}</td>
      <td>{{specialty?.name}}</td>
      <td class="text-md-center">
        <button type="button"   class="btn btn-primary " (click)="addTreatmentWithSpec(specialty.id)">Make</button></td>
    </tr>
    </tbody>
  </table>

  <!--GET OPERATION-->
  <div  *ngIf="role === 'ROLE_ADMIN'" class="row">
    <div *ngFor="let specialty of specialties | paginate: {itemsPerPage: 4, currentPage: page}" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id: {{specialty?.id}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Name: {{specialty?.name}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="doSomeOperation(specialty, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="doSomeOperation(specialty, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <!-------------------------------->

  <!--CREATE OPERATION-->
  <div class="modal fade" id="addSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="addSpecialtyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSpecialtyModalLabel">Add Specialty</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="specialtyForm">
            <h5 *ngIf="errorOnForm" class="mb-3 text-center text-danger">
              Field is empty. Please check the form.
            </h5>
            <div class="form-group row">
              <label for="name_cr" class="col-md-4 col-form-label text-md-right">Specialty name</label>
              <div class="col-md-6">
                <input type="text" formControlName="name" id="name_cr" class="form-control" name="name" required>
                <div class=" text-center text-danger" *ngIf="!specialtyForm.get('name').valid && specialtyForm.get('name').touched">
                  Invalid name of specialty. Only letters, first is uppercase.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-specialty-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="specialtyForm.invalid" type="submit" class="btn btn-primary" (click)="onAddSpecialty()">Add specialty</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--UPDATE OPERATION-->

  <div class="modal fade" id="updateSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="specialtyUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateSpecialtyModalLabel">Edit Specialty {{editSpecialty?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="specialtyForm">
            <h5 *ngIf="errorOnForm" class="mb-3 text-center text-danger">
              Field is empty. Please check the form.
            </h5>
            <div class="form-group row">
              <label for="name_up" class="col-md-4 col-form-label text-md-right">Specialty name</label>
              <div class="col-md-6">
                <input type="text" formControlName="name" id="name_up" class="form-control" name="name" >
                <div class=" text-center text-danger" *ngIf="!specialtyForm.get('name').valid && specialtyForm.get('name').touched">
                  Invalid name of specialty. Only letters, first is uppercase.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="edit-specialty-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button [disabled]="specialtyForm.invalid" (click)="onUpdateSpecialty()"  class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--DELETE OPERATION-->
  <div class="modal fade" id="deleteSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="specialtyDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteSpecialtyLabel">Delete Specialty</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete specialty {{deleteSpecialty?.id}}.{{deleteSpecialty?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteSpecialty(deleteSpecialty?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ERROR-->

  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">{{errorMessage}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="getSpecialties()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
